
/* Header */
.header{
    background-color: #1f2937;
    padding: 24px 200px 100px;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.second-top{
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.header p{
    font-size: 18px;
    color:#e5e7eb ;
    
}

.header h2{
    font-size: 24px;
    color: #f9faf8;
}

button{
    color: #f9faf8;
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius: 8px;
    border: 0;
}

/* Info */
 .container{
    display: flex;
    gap:64px;
    justify-content: center;
 }

 .info p{
    font-size: 18px;
    color: #1f2937;
    width: 180px;
    text-align: center;
 }

 .box{
    border: solid #3882f6 4px;
    border-radius: 12px;
    width: 180px;
    height: 180px;
 }

 .info h2{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: #1f2937;
 }

 /* Qoute */
.quote{
    background-color: #e5e7eb;
}

.content{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    padding: 24px;
}

.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 10;
}

.author{
    align-self: flex-end;
    font-weight: bolder;
}